.picContainer {
  width: 250px;
  position: relative;
}

.pic {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  flex-wrap: wrap;
  overflow: scroll;
}
