.picContainer {
  width: 50px;
  position: relative;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  flex-wrap: wrap;
  overflow: scroll;
}
