/* CONTAINERS */

.picContainer {
  height: 45vh;
}

.pic {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hiddenPic {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0;
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
}

.hiddenText {
  font-family: "FreeSansBold";
  opacity: 0;
}
