/* CONTAINERS */

.picContainer {
  width: 320px;
}

.pic {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hiddenPic {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0;
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
}

.hiddenText {
  font-family: "FreeSansBold";
  opacity: 0;
}
