/* CONTAINERS */

.mainContainer {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: 100%;
  position: fixed;
  margin: 0px;
  cursor: url(../public/pixel_mouse.svg), auto;
}

.leftContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainer {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionContainer {
  height: auto;
  width: 100%;
}

.contentContainer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  background-color: transparent;
  padding-top: 20px;
  padding-left: 190px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vmax;
  flex-wrap: wrap;
  overflow: scroll;
}

.picContainer {
  width: 250px;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
}

.about {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.year {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.index {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}
