/* CONTAINERS */

.mainContainer {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: 100%;
  position: fixed;
  margin: 0px;
  cursor: url(../public/curseur_croix.png), auto;
}

.mainContainerHidden {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: 100%;
  position: fixed;
  margin: 0px;
  cursor: url(../public/curseur_croix.png), auto;
  display: none;
}

.leftContainer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainer {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainerAlbum {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionContainer {
  height: auto;
  width: 100%;
}

.contentContainer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  flex-wrap: wrap;
  overflow: scroll;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.slideContainer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  background-color: transparent;

  overflow: scroll;
}

.romanContainer {
  display: flex;
  flex-direction: column;
  width: 53px;
  z-index: 8;
  cursor: pointer;
}

.roman {
  align-self: flex-end;
  font-size: 17px;
  font-family: "FreeSansBold";
}

.cadre {
  align-self: flex-end;

  font-family: "FreeSansBold";
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
  cursor: pointer;
}

.textHidden {
  font-family: "FreeSansBold";
  z-index: 8;
  display: none;
}

.bigText {
  font-family: "FreeSansBold";
  z-index: 8;
  cursor: pointer;
  font-size: 30px;
}

.about {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  cursor: pointer;
}

.year {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.collection {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 30px;
}

.index {
  font-family: "FreeSansBold";
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}
