@font-face {
  font-family: "FreeSans";
  src: local("FreeSans"), url("../Fonts/FreeSans.otf") format("truetype");
}

@font-face {
  font-family: "FreeSansBold";
  src: local("FreeSansBold"),
    url("../Fonts/FreeSansBold.otf") format("truetype");
}

body {
  margin: 0px;
  overflow: overlay;
}
