/* CONTAINERS */

.picContainer {
  width: 250px;
  position: relative;
}

.pic {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hiddenPic {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0;
}

.albumNameContainer {
  position: absolute;
  top: 95%;
  left: 3%;
}

.albumNameContainerHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.whiteDot {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 90%;
}

.whiteDotHidden {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 90%;
  opacity: 0;
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
}

.albumNameText {
  font-family: "FreeSansBold";
  color: white;
  font-size: 90%;
}

.hiddenText {
  font-family: "FreeSansBold";
  opacity: 0;
}
