/* CONTAINERS */

.picContainer {
  height: 53vh;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s;
}

.picContainerLoaded {
  opacity: 1;
}

.pic {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.hiddenPic {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

.albumNameContainer {
  position: absolute;
  top: 95%;
  left: 3%;
  z-index: 2;
}

.albumNameContainerHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.whiteDot {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 90%;
  z-index: 2;
}

.whiteDotHidden {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 90%;
  opacity: 0;
}

/* TEXT */

.text {
  font-family: "FreeSansBold";
}

.albumNameText {
  font-family: "FreeSansBold";
  color: white;
  font-size: 90%;
}

.hiddenText {
  font-family: "FreeSansBold";
  opacity: 0;
}
